.App {
  background: #3d3d3d;
  text-align: center;
}

.App-header {
  background-color: #377ecc;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.headerTitle {
  margin-top: 25px;
  font-size: 50px;
}
/*App.js*/

.listAndForm {
  display: flex;
  justify-content: space-around;
}

.PlayListForm {
  justify-content: center;
  width: 50%;
  padding: 1rem;
}

.fieldForm {
  display: flex;
  flex-direction: column;
  color: white;
}

.formInputs {
  margin: 10px;
  padding: 10px;
}

.updatedListContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.songsHolder {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
/* PlayListItem */

.returnedData {
  background-color: #7fb9e8;
  margin: 10px;
  border-radius: 3%;
  color: white;
  padding: 10px;
  width: 200px;
  text-align: left;
  /* display: flex; */
}

/*Logo*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
